In [ ]:
import pandas as pd
import numpy as np
%matplotlib inline

In [ ]:
df = pd.read_csv('df_M30.csv', delimiter=';')

In [ ]:
new_df = df[df['oldID'].str.contains('PM1.*1$')]

In [ ]:
new_df = new_df.loc[new_df['oldID'].str.len() == 7]

In [ ]:
new_df['KM'] = new_df["oldID"].str[3:5].astype(str) + "." + new_df["oldID"].str[5:6].astype(str)

In [ ]:
new_df = new_df[new_df['fecha'].str.contains('2015-08-04')]

In [ ]:
new_df[['KM']] = new_df.loc[:,['KM']].astype(np.float64)

In [ ]:
new_df.loc[:, 'densidad'] = new_df.loc[:, "intensidad"] / new_df.loc[:, "vmed"]

In [ ]:
new_df.dropna(subset = ['densidad'])

In [ ]:
new_df['Hora'] = new_df["fecha"].str[11:13].astype(str) + "." + new_df["fecha"].str[14:16].astype(str)
new_df[['Hora']] = new_df.loc[:,['Hora']].astype(np.float64)

In [ ]:
new_df.sort_values('Hora').reset_index(drop=True)

In [ ]:
new_df.plot.scatter(x="densidad", y="Hora")

In [ ]:
display(new_df)

In [ ]:
new_df.dtypes

In [ ]:
new_df.to_csv('df_M30_KM_dia.csv', sep=';')

# Database of one day

In [ ]:
import pandas as pd
import numpy as np
%matplotlib inline

In [ ]:
# Leo el CSV y dibujo los scatter

df_un_dia = pd.read_csv('df_M30_KM_dia.csv', delimiter=';')
df_un_dia.plot.scatter(x="densidad", y="Hora")
df_un_dia.plot.scatter(x="Hora", y="KM")

In [ ]:
# Ordeno el dataframe por KM y Horas y quito las mediciones erróneas

df_prueba = df_un_dia.copy()
df_prueba = df_prueba.sort_values(by=['KM', 'Hora'])
df_prueba = df_prueba.reset_index(drop=True)
df_prueba = df_prueba[['ID', 'oldID', 'fecha', 'intensidad', 'ocupacion', 'vmed', 'periodo_integracion',
                       'KM', 'densidad', 'Hora']]
df_prueba = df_prueba[~(df_prueba['KM'] == 0.2)]
df_prueba = df_prueba[~(df_prueba['KM'] == 0.9)]
df_prueba.index = range(len(df_prueba.index))

In [ ]:
# Genero un dataframe nuevo para las interpolaciones (15 minutos -> 1 minuto)

nans = np.where(np.empty_like(np.arange(576000).reshape(57600, 10)), np.nan, np.nan)
df_new = pd.DataFrame(nans, columns=['ID','oldID','fecha','intensidad','ocupacion','vmed','periodo_integracion', 
                                     'KM', 'densidad', 'Hora'])

In [ ]:
# Asigno los valores registrados cada 15 columnas y el resto como NaN para interpolar.

j = 0
for i in df_new.index.values.astype(int):
    print("i: ", i, "j: ", j)
    if (i%15) == 0:
        df_new.loc[i] = df_prueba.values[j]
        if i != 0:
            j=j+1
    else:
        df_new.loc[[i], ['ID']] = df_prueba.loc[[j], ['ID']]
        df_new.loc[[i], ['oldID']] = df_prueba.loc[[j], ['oldID']]
        df_new.loc[[i], ['fecha']] = df_prueba.loc[[j], ['fecha']]
        df_new.loc[[i], ['periodo_integracion']] = 1
        df_new.loc[[i], ['KM']] = df_prueba.loc[[j], ['KM']]

In [ ]:
# Exporto a CSV el DataFrame

df_new.to_csv('df_M30_KM_dia_perinterpol.csv', sep=';')

# Interpolado

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from mpl_toolkits.mplot3d import Axes3D
%matplotlib inline

In [ ]:
df_new = pd.read_csv('df_M30_KM_dia_perinterpol.csv', delimiter=';')
#df_new.plot.scatter(x="Hora", y="densidad")
#df_new.plot.scatter(x="Hora", y="KM", c="vmed", colormap='viridis')

df_new = df_new.sort_values(by=['KM', 'Hora'])
df_new = df_new.reset_index(drop=True)
df_new = df_new[['ID', 'oldID', 'fecha', 'intensidad', 'ocupacion', 'vmed', 'periodo_integracion',
                       'KM', 'densidad', 'Hora']]
df_new = df_new[~(df_new['KM'] == 0.2)]
df_new = df_new[~(df_new['KM'] == 0.9)]
df_new.index = range(len(df_new.index))

fig = plt.figure()
ax = plt.axes(projection='3d')
ax.scatter3D(df_new.KM, df_new.Hora, df_new.vmed, c=df_new.vmed, cmap='magma');

#Axes3D.scatter(xs=df_new.Hora, ys=df_new.KM, zs=df_new.vmed, zdir='z', **kwargs)

# Testing

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from mpl_toolkits.mplot3d import Axes3D
import math
import decimal
%matplotlib inline

In [2]:
# Interpolo.

df = pd.read_csv('df_M30_KM_dia.csv', delimiter=',')

df = df.sort_values(by=['KM', 'Hora'])
df = df.reset_index(drop=True)
df = df[['ID', 'oldID', 'fecha', 'intensidad', 'ocupacion', 'vmed', 'periodo_integracion',
                       'KM', 'densidad', 'Hora']]
df = df[~(df['KM'] == 0.2)]
df = df[~(df['KM'] == 0.9)]
df.index = range(len(df.index))

df_temp = pd.DataFrame([])
df_int = pd.DataFrame([])

for id in np.sort(df.oldID.value_counts().keys()):
    print("oldID: ", id)
    df_aux = df.loc[df['oldID'] == id]
    # Se crea la matriz de interpolación de tamaño: filas del id obtenido * 15 minutos interpolados
    #- 14 últimos minutos del día sin medición * 10 columnas
    nans = np.where(np.empty_like(np.arange((len(df_aux.index)*15-14)*10).reshape(len(df_aux.index)*15-14, 10)), np.nan, np.nan)
    df_new = pd.DataFrame(nans, columns=['ID','oldID','fecha','intensidad','ocupacion','vmed','periodo_integracion', 
                                         'KM', 'densidad', 'Hora'])
    j = 0
    for i in df_new.index.values.astype(int):
        if (i%15) == 0:
            if i != 0:
                j=j+1
            df_new.loc[i] = df_aux.values[j]
        else:
            df_new.iloc[i, df.columns.get_loc('ID')] = df_aux.iloc[j, df.columns.get_loc('ID')]
            df_new.iloc[i, df.columns.get_loc('oldID')] = df_aux.iloc[j, df.columns.get_loc('oldID')]
            df_new.iloc[i, df.columns.get_loc('fecha')] = df_aux.iloc[j, df.columns.get_loc('fecha')]
            df_new.iloc[i, df.columns.get_loc('periodo_integracion')] = 1.0
            df_new.iloc[i, df.columns.get_loc('KM')] = df_aux.iloc[j, df.columns.get_loc('KM')]
    
    
    df_new['intensidad'] = df_new['intensidad'].interpolate()
    df_new['ocupacion'] = df_new['ocupacion'].interpolate()
    df_new['vmed'] = df_new['vmed'].interpolate()
    df_new['densidad'] = df_new['densidad'].interpolate()
    #df_int['Hora'] = df_new['Hora'].interpolate()
    if id == 'PM10001':
        df_temp = df_new
    else:
        df_temp = df_temp.append(df_new, ignore_index=True)

oldID:  PM10001
oldID:  PM10141
oldID:  PM10211
oldID:  PM10241
oldID:  PM10341
oldID:  PM10401
oldID:  PM10441
oldID:  PM10471
oldID:  PM10501
oldID:  PM10561
oldID:  PM10901
oldID:  PM10941
oldID:  PM10981
oldID:  PM11071
oldID:  PM11101
oldID:  PM11161
oldID:  PM11201
oldID:  PM11301
oldID:  PM11981
oldID:  PM12061
oldID:  PM12121
oldID:  PM12211
oldID:  PM12241
oldID:  PM12331
oldID:  PM12391
oldID:  PM12471
oldID:  PM12571
oldID:  PM12641
oldID:  PM12721
oldID:  PM12781
oldID:  PM12851
oldID:  PM12921
oldID:  PM12961
oldID:  PM12981
oldID:  PM13011
oldID:  PM13041
oldID:  PM13101
oldID:  PM13181
oldID:  PM13211
oldID:  PM13221

In [3]:
df_temp

,ID,oldID,fecha,intensidad,ocupacion,vmed,periodo_integracion,KM,densidad,Hora
0,6639.0,PM10001,2015-08-04 00:00,848.000000,3.000000,77.000000,15.0,0.0,11.012987,0.00
1,6639.0,PM10001,2015-08-04 00:00,845.000000,3.000000,77.600000,1.0,0.0,10.901268,NaN
2,6639.0,PM10001,2015-08-04 00:00,842.000000,3.000000,78.200000,1.0,0.0,10.789550,NaN
3,6639.0,PM10001,2015-08-04 00:00,839.000000,3.000000,78.800000,1.0,0.0,10.677831,NaN
4,6639.0,PM10001,2015-08-04 00:00,836.000000,3.000000,79.400000,1.0,0.0,10.566113,NaN
5,6639.0,PM10001,2015-08-04 00:00,833.000000,3.000000,80.000000,1.0,0.0,10.454394,NaN
6,6639.0,PM10001,2015-08-04 00:00,830.000000,3.000000,80.600000,1.0,0.0,10.342676,NaN
7,6639.0,PM10001,2015-08-04 00:00,827.000000,3.000000,81.200000,1.0,0.0,10.230957,NaN
8,6639.0,PM10001,2015-08-04 00:00,824.000000,3.000000,81.800000,1.0,0.0,10.119239,NaN
9,6639.0,PM10001,2015-08-04 00:00,821.000000,3.000000,82.400000,1.0,0.0,10.007520,NaN
10,6639.0,PM10001,2015-08-04 00:00,818.000000,3.000000,83.000000,1.0,0.0,9.895802,NaN
11,6639.0,PM10001,2015-08-04 00:00,815.000000,3.000000,83.600000,1.0,0.0,9.784083,NaN
12,6639.0,PM10001,2015-08-04 00:00,812.000000,3.000000,84.200000,1.0,0.0,9.672365,NaN
13,6639.0,PM10001,2015-08-04 00:00,809.000000,3.000000,84.800000,1.0,0.0,9.560646,NaN
14,6639.0,PM10001,2015-08-04 00:00,806.000000,3.000000,85.400000,1.0,0.0,9.448928,NaN
15,6639.0,PM10001,2015-08-04 00:15,803.000000,3.000000,86.000000,15.0,0.0,9.337209,0.15
16,6639.0,PM10001,2015-08-04 00:15,795.866667,3.000000,85.666667,1.0,0.0,9.287568,NaN
17,6639.0,PM10001,2015-08-04 00:15,788.733333,3.000000,85.333333,1.0,0.0,9.237927,NaN
18,6639.0,PM10001,2015-08-04 00:15,781.600000,3.000000,85.000000,1.0,0.0,9.188286,NaN
19,6639.0,PM10001,2015-08-04 00:15,774.466667,3.000000,84.666667,1.0,0.0,9.138645,NaN
20,6639.0,PM10001,2015-08-04 00:15,767.333333,3.000000,84.333333,1.0,0.0,9.089004,NaN
21,6639.0,PM10001,2015-08-04 00:15,760.200000,3.000000,84.000000,1.0,0.0,9.039363,NaN
22,6639.0,PM10001,2015-08-04 00:15,753.066667,3.000000,83.666667,1.0,0.0,8.989722,NaN
23,6639.0,PM10001,2015-08-04 00:15,745.933333,3.000000,83.333333,1.0,0.0,8.940080,NaN
24,6639.0,PM10001,2015-08-04 00:15,738.800000,3.000000,83.000000,1.0,0.0,8.890439,NaN
25,6639.0,PM10001,2015-08-04 00:15,731.666667,3.000000,82.666667,1.0,0.0,8.840798,NaN
26,6639.0,PM10001,2015-08-04 00:15,724.533333,3.000000,82.333333,1.0,0.0,8.791157,NaN
27,6639.0,PM10001,2015-08-04 00:15,717.400000,3.000000,82.000000,1.0,0.0,8.741516,NaN
28,6639.0,PM10001,2015-08-04 00:15,710.266667,3.000000,81.666667,1.0,0.0,8.691875,NaN
29,6639.0,PM10001,2015-08-04 00:15,703.133333,3.000000,81.333333,1.0,0.0,8.642234,NaN
...,...,...,...,...,...,...,...,...,...,...
57010,7013.0,PM13221,2015-08-04 23:15,249.866667,2.066667,51.933333,1.0,32.2,4.810659,NaN
57011,7013.0,PM13221,2015-08-04 23:15,247.733333,2.133333,51.866667,1.0,32.2,4.775163,NaN
57012,7013.0,PM13221,2015-08-04 23:15,245.600000,2.200000,51.800000,1.0,32.2,4.739668,NaN
57013,7013.0,PM13221,2015-08-04 23:15,243.466667,2.266667,51.733333,1.0,32.2,4.704173,NaN
57014,7013.0,PM13221,2015-08-04 23:15,241.333333,2.333333,51.666667,1.0,32.2,4.668678,NaN
57015,7013.0,PM13221,2015-08-04 23:15,239.200000,2.400000,51.600000,1.0,32.2,4.633183,NaN
57016,7013.0,PM13221,2015-08-04 23:15,237.066667,2.466667,51.533333,1.0,32.2,4.597687,NaN
57017,7013.0,PM13221,2015-08-04 23:15,234.933333,2.533333,51.466667,1.0,32.2,4.562192,NaN
57018,7013.0,PM13221,2015-08-04 23:15,232.800000,2.600000,51.400000,1.0,32.2,4.526697,NaN
57019,7013.0,PM13221,2015-08-04 23:15,230.666667,2.666667,51.333333,1.0,32.2,4.491202,NaN
57020,7013.0,PM13221,2015-08-04 23:15,228.533333,2.733333,51.266667,1.0,32.2,4.455706,NaN
57021,7013.0,PM13221,2015-08-04 23:15,226.400000,2.800000,51.200000,1.0,32.2,4.420211,NaN
57022,7013.0,PM13221,2015-08-04 23:15,224.266667,2.866667,51.133333,1.0,32.2,4.384716,NaN
57023,7013.0,PM13221,2015-08-04 23:15,222.133333,2.933333,51.066667,1.0,32.2,4.349221,NaN
57024,7013.0,PM13221,2015-08-04 23:30,220.000000,3.000000,51.000000,15.0,32.2,4.313725,23.30
57025,7013.0,PM13221,2015-08-04 23:30,215.666667,2.933333,52.400000,1.0,32.2,4.169662,NaN
57026,7013.0,PM13221,2015-08-04 23:30,211.333333,2.866667,53.800000,1.0,32.2,4.025599,NaN
57027,7013.0,PM13221,2015-08-04 23:30,207.000000,2.800000,55.200000,1.0,32.2,3.881536,NaN
57028,7013.0,PM13221,2015-08-04 23:30,202.666667,2.733333,56.600000,1.0,32.2,3.737473,NaN
57029,7013.0,PM13221,2015-08-04 23:30,198.333333,2.666667,58.000000,1.0,32.2,3.593410,NaN
57030,7013.0,PM13221,2015-08-04 23:30,194.000000,2.600000,59.400000,1.0,32.2,3.449346,NaN
57031,7013.0,PM13221,2015-08-04 23:30,189.666667,2.533333,60.800000,1.0,32.2,3.305283,NaN
57032,7013.0,PM13221,2015-08-04 23:30,185.333333,2.466667,62.200000,1.0,32.2,3.161220,NaN
57033,7013.0,PM13221,2015-08-04 23:30,181.000000,2.400000,63.600000,1.0,32.2,3.017157,NaN
57034,7013.0,PM13221,2015-08-04 23:30,176.666667,2.333333,65.000000,1.0,32.2,2.873094,NaN
57035,7013.0,PM13221,2015-08-04 23:30,172.333333,2.266667,66.400000,1.0,32.2,2.729031,NaN
57036,7013.0,PM13221,2015-08-04 23:30,168.000000,2.200000,67.800000,1.0,32.2,2.584967,NaN
57037,7013.0,PM13221,2015-08-04 23:30,163.666667,2.133333,69.200000,1.0,32.2,2.440904,NaN
57038,7013.0,PM13221,2015-08-04 23:30,159.333333,2.066667,70.600000,1.0,32.2,2.296841,NaN
57039,7013.0,PM13221,2015-08-04 23:45,155.000000,2.000000,72.000000,15.0,32.2,2.152778,23.45

In [ ]:
# Exporto a CSV el DataFrame

df_good.to_csv('df_M30_KM_dia_inter_temp.csv', sep=';')

In [ ]:
df_good = pd.read_csv('df_M30_KM_dia_inter_temp.csv', delimiter=';')

In [ ]:
df_esp = pd.DataFrame([])
df_int = pd.DataFrame([])

df_good.Hora.round(2)

for time in np.sort(df_good.Hora.value_counts().keys()):
    print("Hora:", time)
    df_aux = df_good.loc[df_good['Hora'] == time]
    df_aux = df_aux.sort_values(by=['KM'])
    df_aux = df_aux.reset_index(drop=True)
    df_aux = df_aux.drop(columns=['Unnamed: 0'])
    
    nans = np.where(np.empty_like(np.arange(325*10).reshape(325, 10)), np.nan, np.nan)
    df_new = pd.DataFrame(nans, columns=['ID','oldID','fecha','intensidad','ocupacion','vmed','periodo_integracion','KM','densidad','Hora'])
    
    df_new['ID'] = 'int_temp'
    df_new['oldID'] = 'int_temp'
    df_new['Hora'] = time
    df_new['fecha'] = df_aux.iloc[0, df_aux.columns.get_loc('fecha')]
    df_new['periodo_integracion'] = 1.0
    
    #for km in df_aux['KM'].diff():
        #print("KM:", km)
    #    if not math.isnan(km):
            #print("km:", round(km, 1), "Size:", int(round((km/0.1)*10,1)), "Shape:", int(round(km/0.1,1)))
    #        nans = np.where(np.empty_like(np.arange(int(round((km/0.1)*10, 1))).reshape(int(round((km/0.1), 1)), 10)), np.nan, np.nan)
    #        df_new = pd.DataFrame(nans, columns=['ID','oldID','fecha','intensidad','ocupacion','vmed','periodo_integracion','KM','densidad','Hora'])
            
    #        df_new['ID'] = 'int_temp'
    #        df_new['oldID'] = 'int_temp'
    #        df_new['Hora'] = time
    #        df_new['fecha'] = df_aux.iloc[0, df_aux.columns.get_loc('fecha')]
    #        df_new['periodo_integracion'] = 1.0
            
    #        df_int = df_int.append(df_new, ignore_index=True)
    
    #print("Assigning values")
    j=0
    k = 0
    for i in df_new.index.values.astype(int):
        print("i:", i, "KM:", int(round(np.sort(df_good.KM.value_counts().keys())[k]/0.1, 1)))
        if i == int(round(np.sort(df_good.KM.value_counts().keys())[k]/0.1, 1)):
            print("Asigned")
            df_new.loc[i] = df_aux.loc[j].values
            j += 1
            k += 1
            
    print("Interpolating")
    #df_int_esp = df_int.interpolate()
    #if id == 'PM10001':
        #df_esp = df_int_esp
    #else:
        #df_esp = df_esp.append(df_int_esp, ignore_index=True)

In [ ]:
df_good

In [ ]:
df_esp.plot.scatter(x="Hora", y="densidad")
df_esp.plot.scatter(x="Hora", y="KM", c="vmed", colormap='viridis')